RewriteEngine On
#
# RewriteBase indispensable sur webetu :

# RewriteBase /www/canals5/giftbox


#
# Pour interdire l'accès aux répertoires contenant du code
RewriteRule ^conf(/.*|)$ - [NC,F]
RewriteRule ^src(/.*|)$ - [NC,F]
RewriteRule ^vendor(/.*|)$ - [NC,F]
